/* Utils */
/*----- Colors -----*/
/*----- Fonts -----*/
/*----- Dimensions and sizes -----*/
/* Base */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_GbQbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #f8f8f8;
  letter-spacing: 0.5px;
  color: #39424B;
}

.summary {
  font-size: 90%;
}

ul.summary {
  font-size: 110%;
}

.section-header .section_icon {
  margin-right: 10px;
  margin-left: 5px;
}
.section-header .section_icon img {
  width: 20px;
  height: 20px;
}

.work-container ul, .education-container ul {
  margin: 5px 0 0 5px;
}
.work-container li, .education-container li {
  margin-bottom: -5px;
}
.work-container .summary, .education-container .summary {
  margin-left: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 250%;
  letter-spacing: 1px;
}

h2 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 200%;
  letter-spacing: 0.5px;
  font-weight: 300;
}

h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 120%;
  letter-spacing: 0.4px;
}
h3.bold {
  font-weight: 500;
}

h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 100%;
}
h4.bold {
  font-weight: 600;
}
h4.minimal {
  font-size: 90%;
}

h5 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 80%;
}
h5.italic {
  font-style: italic;
}

h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 60%;
}
h6.italic {
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #2895F1;
}

p,
li {
  font-size: 75%;
}

blockquote {
  font-size: 75%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 10px 25px;
}

em {
  color: #999;
}

ul {
  padding-left: 20px;
}
ul.minimal {
  list-style: none;
  padding: 0;
}
ul.minimal li {
  margin-bottom: 2px;
  padding-left: 0;
}
ul.two-column {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}
ul.two-column li {
  padding-left: 0;
}

.title h3 {
  font-weight: 400;
}
.title h3 i {
  margin-right: 7.5px;
}

@page {
  size: A4;
}
.container {
  margin-bottom: 15px;
}

.section-header {
  margin-top: 10px;
}

.resume-header {
  padding-bottom: 15px;
}

.keyline {
  width: 75%;
  margin: 2px 0 5px;
  border-top: 1px solid #436d66;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.summary {
  margin: 5px 0 5px;
}

/* Layouts */
.page {
  background: white;
  width: 50%;
  display: block;
  margin: 0 20%;
  border-top: 10px solid #436d66;
  padding: 20px 12px 12px 12px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  font-size: 125%;
}
.page:after {
  content: "";
  display: table;
  clear: both;
}

.resume-content {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.item {
  margin-bottom: 5px;
}
.item:last-child {
  margin-bottom: 0;
}

a {
  text-decoration-line: underline;
  text-decoration-style: line;
  text-decoration-thickness: 0.5px;
}

@media print {
  body {
    margin: 0;
  }
  .page {
    transform: none !important;
    width: 100%;
    height: 100%;
    margin: 0 8px 0 8px;
    box-shadow: none;
    font-size: 100%;
  }
  .item {
    page-break-inside: avoid;
  }
  .hide-on-print {
    display: none !important;
  }
  .section-header span.section_text h3.section_title {
    display: inline-block;
  }
  .section-header span.section_text h4.section_subtitle {
    display: inline-block;
  }
  .section-header span.section_text h4.section_subtitle::before {
    content: " | ";
  }
  .section-header h5.pull-right {
    margin-top: 0 !important;
  }
}
/* Components */
.info-tag-container .fa {
  width: 12px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}
.info-tag-container .info-text {
  font-size: 80%;
  display: inline-block;
  vertical-align: middle;
  width: 159px;
}

.references-container .fa {
  font-size: 150%;
}

.education-container .location {
  padding-bottom: 6px;
  font-weight: 100;
}
.education-container .specialization {
  text-transform: none;
  font-style: italic;
}

.skills-container {
  width: 100%;
}
.skills-container ul {
  margin: 5px auto;
}
.skills-container li {
  font-size: 80%;
}

.skills {
  margin-top: 5px;
}
.skills h4 {
  font-weight: bold;
}

@media print {
  .hide-on-print {
    visibility: hidden;
    display: none;
  }
}

.show-on-print {
  visibility: hidden;
  display: none;
}
@media print {
  .show-on-print {
    visibility: visible;
    display: inline-block;
  }
}